# Gradle build directories and wrapper scripts
/build/
/bin/

# IDE and system files (VSCode)
.vscode/

# Log files
application.log

# Exclude these files
*.bin
*.probe
*.lock

# IntelliJ IDEA project files (optional, if you ever use IDEA)
.idea/
/*.iml

